{% extends "@Linotype/admin.twig" %}

{% block content %}

    <div class="panel-block">

        <div class="linotype-admin linotype-helper">
            <div class="row">
                <a href="/admin/system">back</a>
                view
            </div>
        </div>

    </div>

{% endblock %}
