{% extends "@Linotype/admin.twig" %}

{% block content %}

    <div class="linotype-admin linotype-helper">
        <div class="row">
            <a href="/linotype">back</a>
            view
        </div>
    </div>

{% endblock %}
