{% extends "@Linotype/admin.twig" %}

{% block content %}

    <div class="panel-block">
        <h1>{{name}}</h1>
        <p>{{desc}}</p>

        <div data-field-id="a672226f8f24634881f25531a64d4411" data-key="intro__text" id="intro--text" class="field--text form-group" data-type="Title" data-controller="Title">
            <label class="form-label" for="input-example-1">Label</label>
            <input class="linotype-field-value form-input " name="intro__text" placeholder="This is the" value="">
            <p class="form-help">Description</p>
        </div>

        <div data-field-id="a672226f8f24634881f25531a64d4411" data-key="intro__text" id="intro--text" class="field--text form-group" data-type="Title" data-controller="Title">
            <label class="form-label" for="input-example-1">Label</label>
            <input class="linotype-field-value form-input " name="intro__text" placeholder="This is the" value="">
            <p class="form-help">Description</p>
        </div>

        <div data-field-id="a672226f8f24634881f25531a64d4411" data-key="intro__text" id="intro--text" class="field--text form-group" data-type="Title" data-controller="Title">
            <label class="form-label" for="input-example-1">Label</label>
            <input class="linotype-field-value form-input " name="intro__text" placeholder="This is the" value="">
            <p class="form-help">Description</p>
        </div>

        <div data-field-id="a672226f8f24634881f25531a64d4411" data-key="intro__text" id="intro--text" class="field--text form-group" data-type="Title" data-controller="Title">
            <label class="form-label" for="input-example-1">Label</label>
            <input class="linotype-field-value form-input " name="intro__text" placeholder="This is the" value="">
            <p class="form-help">Description</p>
        </div>

    </div>
      

{% endblock %}

{% block viewer %}

    <iframe 
        class="viewer-frame"
        title="Inline Frame Example"
        width="100%"
        height="100%"
        src="/admin/system/{{type}}/{{id}}/viewer/?mode=iframe">
    </iframe>

{% endblock %}
