{% extends "@Linotype/admin.twig" %}

{% block content %}

    <div class="panel-block">

        <h1 class="text-dark">Dashboard</h1>

        <h2 class="text-primary">Activity</h2>

        <div class="timeline">
            <div class="timeline-item" id="timeline-example-1">
            <div class="timeline-left"><a class="timeline-icon" href="#timeline-example-1"></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">March 2021</p>
                    <p class="tile-title">Initial commit</p>
                </div>
                </div>
            </div>
            </div>
            <div class="timeline-item" id="timeline-example-2">
            <div class="timeline-left"><a class="timeline-icon icon-lg" href="#timeline-example-2"><i class="icon icon-check"></i></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">February 2021</p>
                    <p class="tile-title">New Documents experience</p>
                    <p class="tile-title"><a href="components.html#bars">Bars</a>: represent the progress of a task</p>
                    <p class="tile-title"><a href="components.html#steps">Steps</a>: progress indicators of a sequence of task steps</p>
                    <p class="tile-title"><a href="components.html#tiles">Tiles</a>: repeatable or embeddable information blocks</p>
                </div>
                <div class="tile-action">
                    <button class="btn">View</button>
                </div>
                </div>
            </div>
            </div>
            <div class="timeline-item" id="timeline-example-3">
            <div class="timeline-left"><a class="timeline-icon icon-lg" href="#timeline-example-3"><i class="icon icon-check"></i></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">March 2020</p>
                    <p class="tile-title"><a href="elements.html#icons">Icons</a>: single-element, responsive and pure CSS icons</p>
                    <p class="tile-title"><a href="components.html#popovers">Popovers</a>: small overlay content containers</p>
                    <p class="tile-title"><a href="experimentals.html#calendars">Calendars</a>: date or date range picker and events display</p>
                    <p class="tile-title"><a href="experimentals.html#carousels">Carousels</a>: slideshows for cycling images</p>
                </div>
                <div class="tile-action">
                    <button class="btn">View</button>
                </div>
                </div>
            </div>
            </div>
            <div class="timeline-item" id="timeline-example-3">
            <div class="timeline-left"><a class="timeline-icon icon-lg" href="#timeline-example-3"><i class="icon icon-check"></i></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">March 2020</p>
                    <p class="tile-title"><a href="elements.html#icons">Icons</a>: single-element, responsive and pure CSS icons</p>
                    <p class="tile-title"><a href="components.html#popovers">Popovers</a>: small overlay content containers</p>
                    <p class="tile-title"><a href="experimentals.html#calendars">Calendars</a>: date or date range picker and events display</p>
                    <p class="tile-title"><a href="experimentals.html#carousels">Carousels</a>: slideshows for cycling images</p>
                </div>
                <div class="tile-action">
                    <button class="btn">View</button>
                </div>
                </div>
            </div>
            </div>
            <div class="timeline-item" id="timeline-example-3">
            <div class="timeline-left"><a class="timeline-icon icon-lg" href="#timeline-example-3"><i class="icon icon-check"></i></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">March 2020</p>
                    <p class="tile-title"><a href="elements.html#icons">Icons</a>: single-element, responsive and pure CSS icons</p>
                    <p class="tile-title"><a href="components.html#popovers">Popovers</a>: small overlay content containers</p>
                    <p class="tile-title"><a href="experimentals.html#calendars">Calendars</a>: date or date range picker and events display</p>
                    <p class="tile-title"><a href="experimentals.html#carousels">Carousels</a>: slideshows for cycling images</p>
                </div>
                <div class="tile-action">
                    <button class="btn">View</button>
                </div>
                </div>
            </div>
            </div>
            <div class="timeline-item" id="timeline-example-3">
            <div class="timeline-left"><a class="timeline-icon icon-lg" href="#timeline-example-3"><i class="icon icon-check"></i></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">March 2020</p>
                    <p class="tile-title"><a href="elements.html#icons">Icons</a>: single-element, responsive and pure CSS icons</p>
                    <p class="tile-title"><a href="components.html#popovers">Popovers</a>: small overlay content containers</p>
                    <p class="tile-title"><a href="experimentals.html#calendars">Calendars</a>: date or date range picker and events display</p>
                    <p class="tile-title"><a href="experimentals.html#carousels">Carousels</a>: slideshows for cycling images</p>
                </div>
                <div class="tile-action">
                    <button class="btn">View</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    
    </div>
    
{% endblock %}


{% block viewer %}
    <div class="viewer">
        <div class="viewer-content">
            <div class="viewer-content-top-left"></div>
            <div class="viewer-content-top-right"></div>
            <div class="viewer-content-bottom-left"></div>
            <div class="viewer-content-bottom-right"></div>
            <iframe 
                class="viewer-content-iframe"
                title="Inline Frame Example"
                width="100%"
                height="100%"
                scrolling="yes"
                src="https://www.taureauaile.fr/conseils-culinaires/">
            </iframe>
        </div>
    </div>
{% endblock %}