{% extends "@Linotype/admin.twig" %}

{% block wrapper_start %}
    <form  enctype="multipart/form-data" method="POST" class="h-100">
{% endblock %}

    {% block header %}
        <h1 class="mb-0 mt-2">New {{title}}</h1>
    {% endblock %}

    {% block content %}
        {{ linotype_admin( 'template', template_id ) }}    
    {% endblock %}

    {% block footer %}
        <input class="btn btn-primary float-right" type="submit" value="Create">
    {% endblock %}

{% block wrapper_end %}
    </form>
{% endblock %}

{% block viewer %}
    <div class="viewer">
        <div class="viewer-content">
            <div class="viewer-content-top-left"></div>
            <div class="viewer-content-top-right"></div>
            <div class="viewer-content-bottom-left"></div>
            <div class="viewer-content-bottom-right"></div>
            {# <iframe 
                id="iframe"
                class="viewer-content-iframe"
                title="Inline Frame Example"
                width="100%"
                height="100%"
                scrolling="yes"
                src="{{template_path}}">
            </iframe> #}
        </div>
    </div>
{% endblock %}

{% block notif %}
    {% if success == 'true' %}
        <div class="toast toast-success">
            <button class="btn btn-clear float-right"></button>
            Success
        </div>
    {% elseif success == 'false' %}
        <div class="toast toast-error">
            <button class="btn btn-clear float-right"></button>
            Error
        </div>
    {% endif %}
{% endblock %}