{% extends "@Linotype/admin.twig" %}

{% block header %}
    <h1 class="mb-0 mt-2">Global Options</h1>
{% endblock %}

{% block content %}
    {# {{ linotype_admin( 'template', template_id ) }}     #}
{% endblock %}

{% block footer %}
    
{% endblock %}
